@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
.main, .main-nosotros h1, .main-galeria h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: black;
  text-align: center;
}

.flex-row, .main-nosotros .informacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column, .main-index .venta, .main-nosotros .clases-prescenciales, .main-nosotros .informacion-b, .main-galeria .inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 5px;
  background-color: grey;
  color: black;
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C9C19F;
}
.header .logo img {
  width: 250px;
}
.header .navegacion ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .navegacion ul li {
  font-family: "Playfair Display", serif;
  font-size: medium;
  color: black;
  list-style: none;
}
.header .navegacion ul li a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.main-index h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: black;
  text-align: center;
}
.main-index h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: black;
  text-align: center;
}
.main-index .inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  font-family: "Playfair Display", serif;
}
.main-index .inicio img {
  width: 300px;
}
.main-index .inicio img:hover {
  transform: scale(0.7);
  transition: 0.8s ease-in-out;
}
.main-index .inicio p {
  font-family: "Playfair Display", serif;
  color: black;
  padding: 35px;
}

i {
  position: fixed;
  top: 90%;
  right: 20px;
  background-color: #4e6724;
  color: #ffffff;
  font-family: Montserrat;
  padding: 15px;
  border-radius: 15px;
}

.carousel {
  width: 50%;
}

.carousel-item {
  width: auto;
  height: 500px;
  transition: transform 0s ease-in-out;
}

.carousel-item.active {
  display: flex;
}

button {
  height: 70px;
}

.header {
  padding: 20px;
}
.header .logo img {
  width: 60px;
}

.navbar {
  display: none;
}

@media (max-width: 576px) {
  .navegacion {
    background-color: #C9C19F;
    height: 120px;
    margin-top: -50px;
  }
  .navegacion a {
    color: black;
  }
  .navegacion ul {
    font-size: small;
  }
  .navegacion li {
    display: none;
  }
  .navbar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .logo img {
    display: none;
  }
  .nav-logo1 {
    width: 60px;
  }
  .navegation {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
  }
  .main-index h1 {
    font-size: 40px;
  }
  .main-index h3 {
    font-size: 30px;
  }
  .bg-dark {
    background-color: #C9C19F !important;
  }
  .collapse {
    background-color: #C9C19F;
  }
  .collapse ul {
    list-style-type: none;
  }
  .collapse li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: "Playfair Display", serif;
    font-size: small;
    display: flex;
    justify-content: center;
  }
  .collapsing {
    background-color: #C9C19F;
  }
  .collapsing ul {
    list-style-type: none;
  }
  .collapsing li a {
    text-decoration: none;
    color: black;
    font-family: "Playfair Display", serif;
    font-size: small;
    display: flex;
    justify-content: center;
  }
  .navbar-toggler {
    margin-top: 22px;
  }
  .inicio img {
    height: 500px;
    margin-top: 25px;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .header .logo img {
    width: 60px;
  }
  .header .navegacion {
    flex: 1;
    min-width: 250px;
  }
  .header .logo {
    flex: 2;
  }
}
.main-galeria h3 {
  background-color: #C9C19F;
  margin-top: 8px;
}
.main-galeria .inicio {
  font-family: "Playfair Display", serif;
}
.main-galeria img {
  width: 400px;
}
.main-galeria p {
  width: 850px;
  text-align: center;
  margin-top: 8px;
}
.main-galeria .carousel {
  width: 50%;
}
.main-galeria .carousel-item {
  width: auto;
  height: 500px;
  transition: transform 0s ease-in-out;
}
.main-galeria .carousel-item.active {
  display: flex;
}
.main-galeria button {
  height: 70px;
}

.main-nosotros h3 {
  font-family: "Playfair Display", serif;
  background-color: #c9c19f;
  margin-top: 8px;
}
.main-nosotros .informacion {
  font-family: "Playfair Display", serif;
}
.main-nosotros .informacion-b {
  margin-bottom: 8px;
}
.main-nosotros .clases-prescenciales h3 {
  font-family: "Playfair Display", serif;
  font-size: larger;
  color: black;
  background-color: #c9c19f;
  margin-top: 8px;
  margin-bottom: 8px;
}
.main-nosotros img {
  width: 300px;
}
.main-nosotros p {
  font-family: "Playfair Display", serif;
  color: black;
  width: 300px;
  padding: 35px;
}

.main-index .paquetes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-index .yoguita {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Radio Canada Big", sans-serif;
  color: black;
}
.main-index .paquetes-venta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url(https://img.freepik.com/free-photo/abstract-luxury-light-cream-beige-brown-like-cotton-silk-texture-pattern-background_1258-71591.jpg);
  margin-top: 50px;
}
.main-index .venta {
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-index .venta h4 {
  font-family: "Radio Canada Big", sans-serif;
  font-size: 15px;
  color: black;
}
.main-index button {
  font-family: "Radio Canada Big", sans-serif;
  font-size: small;
  background-color: #C9C19F;
  color: black;
  height: 40px;
}
.main-index button:hover {
  color: #5B5B5B;
}
.main-index .yoga img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  height: 200px;
  box-shadow: 0px 0px 2px 5px #C9C19F;
  margin: 20px;
}
.main-index h6 {
  font-family: "Radio Canada Big", sans-serif;
  font-size: small;
  text-align: center;
  color: black;
  background-color: #C9C19F;
  height: 20px;
  margin-top: 20px;
}
.main-index .animate__animated.animate__fadeInRight {
  --animate-duration: 5s;
}

.main-index .formulario1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 25px;
}
.main-index p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: smaller;
}
.main-index input {
  font-family: "Playfair Display", serif;
  font-size: 15px;
}

.footer {
  background-color: #5B5B5B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer h4, .footer h5 {
  font-family: "Radio Canada Big", sans-serif;
  font-size: small;
  color: black;
}
.footer .links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .links ul li {
  font-family: "Radio Canada Big", sans-serif;
  font-size: small;
  color: black;
  list-style: none;
  margin-top: 20px;
  padding: 10px;
}
.footer .links ul li a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}/*# sourceMappingURL=main.css.map */