@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
.main, .main-galeria h1, .main-nosotros h1, .main-contacto h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: black;
  text-align: center; }

.flex-row, .main-nosotros .informacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.flex-column, .main-index .tipos-de-yoga, .main-galeria .inicio, .main-nosotros .informacion-b, .main-nosotros .clases-prescenciales, .main-productos .venta, .main-contacto .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

button {
  padding: 5px;
  background-color: grey;
  color: black;
  border-radius: 15px; }

.gradiente-vertical, .main-index .tipos-de-yoga {
  background-image: linear-gradient(to top, #C9C19f, #7D7C7A); }

.gradiente-horizontal, .main-galeria .inicio1 {
  background-image: linear-gradient(to left, #C9C19F, #7D7C7A); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C9C19F; }
  .header .logo img {
    width: 250px; }
  .header .navegacion ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .navegacion ul li {
      font-family: "Playfair Display", serif;
      font-size: medium;
      color: black;
      list-style: none; }
      .header .navegacion ul li a {
        text-decoration: none;
        color: black;
        padding: 0 10px; }

.main-index h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: black;
  text-align: center; }

.main-index h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: black;
  text-align: center; }

.main-index .inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  font-family: "Playfair Display", serif; }
  .main-index .inicio img {
    width: 300px; }
    .main-index .inicio img:hover {
      transform: scale(0.7);
      transition: 0.8s ease-in-out; }
  .main-index .inicio p {
    font-family: "Playfair Display", serif;
    font-size: medium;
    color: black;
    padding: 30px; }

.main-index .tipos-de-yoga .estilos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-index .tipos-de-yoga .estilos p {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    color: black;
    width: 400px; }

i {
  position: fixed;
  top: 90%;
  right: 20px;
  background-color: #4e6724;
  color: #ffffff;
  font-family: Montserrat;
  padding: 15px;
  border-radius: 15px; }

.header {
  padding: 20px; }
  .header .logo img {
    width: 60px; }

@media (max-width: 577px) {
  .main-index .inicio {
    display: flex;
    flex-direction: column; }
    .main-index .inicio img {
      width: 250px; }
  .main-nosotros .informacion img {
    width: 250px; }
  .main-nosotros .informacion p {
    width: 250px; }
  .main-nosotros .informacion-b iframe {
    width: 450px; }
  .main-galeria .inicio p {
    width: 500px; }
  .main-productos .animate__animated.animate__fadeInRight {
    --animate-duration: 5s;
    height: 40px; } }

@media (max-width: 485px) {
  .navegacion {
    display: none; }
  .nav {
    background-color: #C9C19F !important;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .nav a {
    color: black;
    text-decoration: none; }
  .collapse {
    background-color: #C9C19F !important;
    font-family: "Playfair Display", serif;
    text-decoration: none; }
  .collapsing {
    font-family: "Playfair Display", serif; }
  .bg-dark {
    background-color: #C9C19F !important; }
  .main-index h1 {
    font-size: 35px; }
  .main-index h3 {
    font-size: 20px; }
  .main-index .tipos-de-yoga .estilos img {
    width: 250px; }
  .main-index .tipos-de-yoga .estilos p {
    font-size: 12px;
    text-align: center;
    width: 250px; }
  .main-nosotros h1 {
    font-size: 30px; }
  .main-nosotros .informacion img {
    width: 200px; }
  .main-nosotros .informacion p {
    width: 230px; }
  .main-nosotros .informacion-b iframe {
    width: 380px; }
  .main-nosotros .clases-prescenciales iframe {
    width: 300px; }
  .main-galeria h1 {
    font-size: 30px; }
  .main-galeria .inicio img {
    width: 350px !important; }
  .main-galeria .inicio p {
    width: 350px; }
  .main-productos h1 {
    font-size: 30px !important; }
  .main-contacto h1 {
    font-size: 30px;
    color: black; }
  .main-contacto .contacto {
    width: 95% !important; } }

.main-galeria h3 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: black;
  margin-top: 8px; }

.main-galeria .inicio {
  font-family: "Playfair Display", serif; }
  .main-galeria .inicio p {
    font-family: "Playfair Display", serif;
    color: black;
    text-align: center; }
  .main-galeria .inicio img {
    width: 400px; }

.main-galeria .inicio1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 8px; }

.main-galeria .carousel-item {
  transition: transform 0s ease-in-out; }

.main-galeria .carousel-item.active {
  display: flex; }

.main-nosotros h3 {
  font-family: "Playfair Display", serif;
  background-color: #c9c19f;
  margin-top: 8px; }

.main-nosotros .informacion {
  font-family: "Playfair Display", serif; }

.main-nosotros .informacion-b {
  margin-bottom: 8px; }

.main-nosotros .clases-prescenciales h3 {
  font-family: "Playfair Display", serif;
  font-size: larger;
  color: black;
  background-color: #c9c19f;
  margin-top: 8px;
  margin-bottom: 8px; }

.main-nosotros img {
  width: 300px; }

.main-nosotros p {
  font-family: "Playfair Display", serif;
  color: black;
  width: 300px;
  padding: 35px; }

.main-productos h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: black;
  text-align: center; }

.main-productos .paquetes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.main-productos .yoguita {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Radio Canada Big", sans-serif;
  color: black; }

.main-productos .paquetes-venta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url(https://img.freepik.com/free-photo/abstract-luxury-light-cream-beige-brown-like-cotton-silk-texture-pattern-background_1258-71591.jpg);
  margin-top: 50px; }

.main-productos .venta {
  margin-top: 10px;
  margin-bottom: 10px; }
  .main-productos .venta h4 {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 15px;
    color: black; }

.main-productos button {
  font-family: "Radio Canada Big", sans-serif;
  font-size: small;
  background-color: #C9C19F;
  color: black;
  height: 40px; }

.main-productos button:hover {
  color: #5B5B5B; }

.main-productos .yoga img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  height: 200px;
  box-shadow: 0px 0px 2px 5px #C9C19F;
  margin: 20px; }

.main-productos h6 {
  font-family: "Radio Canada Big", sans-serif;
  font-size: small;
  text-align: center;
  color: black;
  background-color: #C9C19F;
  height: 20px;
  margin-top: 20px; }

.main-productos .animate__animated.animate__fadeInRight {
  --animate-duration: 5s; }

body {
  height: 100vh; }

.main-contacto p {
  text-align: center;
  font-size: smaller; }

.main-contacto input {
  font-family: "Playfair Display", serif;
  font-size: 15px; }

.main-contacto .contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7D7C7A;
  border: 2px black solid;
  width: 300px;
  text-align: center;
  margin: 10px;
  padding: 15px; }
  .main-contacto .contacto h1 {
    font-size: 40px; }

.footer {
  background-color: #5B5B5B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer h4, .footer h5 {
    font-family: "Radio Canada Big", sans-serif;
    font-size: small;
    color: black; }
  .footer .links ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .links ul li {
      font-family: "Radio Canada Big", sans-serif;
      font-size: small;
      color: black;
      list-style: none;
      margin-top: 20px;
      padding: 10px; }
      .footer .links ul li a {
        text-decoration: none;
        color: black;
        padding: 0 10px; }
