.main-galeria{
    h1{
        @extend .main;
    }
    h3{
        font-family: $fuente-principal;
        font-size: 20px;
        color: black;
        margin-top: 8px;
    }
    .inicio{
        @extend .flex-column;
        font-family: $fuente-principal;
        p{
            font-family: $fuente-principal;
            color: black;
            text-align: center;
        }
        img{
        width: 400px;
    }
    }
    .inicio1{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        @extend .gradiente-horizontal;
        margin-bottom: 8px;
    }
    .carousel-item{
        transition: transform 0s ease-in-out;
    }
    .carousel-item.active{
        display: flex;
    }
}