.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9C19F;
    .logo{
        img{
            width: 250px;
        }
    }
    .navegacion{
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                font-family: $fuente-principal;
                font-size: medium;
                color: black;
                list-style: none;
                a{
                    text-decoration: none;
                    color: black;
                    padding: 0 10px;
                }
            }
        }
    }
}
