.main-nosotros{
    h1{
        @extend .main;
    }
    h3{
        font-family: $fuente-principal;
        background-color: #c9c19f;
        margin-top: 8px;
    }
    .informacion{
        @extend .flex-row;
        font-family: $fuente-principal;
    }
    .informacion-b{
        @extend .flex-column;
        margin-bottom: 8px;
    }
    .clases-prescenciales{
        @extend .flex-column;
        h3{
        font-family: $fuente-principal;
        font-size: larger;
        color: black;
        background-color: #c9c19f;
        margin-top: 8px;
        margin-bottom: 8px;
        }
    }
    img{
        width: 300px;
    }
    p{
        font-family: $fuente-principal;
        color: black;
        width: 300px;
        padding: 35px;
    }
    }
