.main-index{
    .paquetes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .yoguita{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $fuente-secundaria;
        color: black;
    }
    button{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #7D7C7A;
        color: black;
        font-family: $fuente-secundaria;
    }
    button:hover{
        color: #5B5B5B;
    }
    .yoga img{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: space-around;
        height: 200px;
        box-shadow: 0px 0px 2px 5px #C9C19F;
        margin: 20px;
    }
        button{
            color: black;
            font-family: $fuente-secundaria;
            font-size: 10px;
            padding: 5px 10px;
            border-radius: 5px;
        }
        button:hover{
            color: #5B5B5B;
        }
    }
