.main{
    font-family: $fuente-principal;
    font-size: 50px;
    color: black;
    text-align: center;
}
.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    padding: 5px;
    background-color: grey;
    color: black;
    border-radius: 15px;
}